img {
    width: 200px;
    display: block;
    margin: auto;
    animation: float 2s ease-in-out infinite;
    transition: all 0.3s ease-in-out;
}
img:hover {
    transform: scale(1.2);
}
@keyframes float {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

body {
    text-align: center;
    font-family: comic sans ms;
    background : #D3D3D3;
    color : #000000;
}
a{
    color: black;
}
a:hover{
    color: grey;
}

button{
    border-color: black;
    background-color: lightgray;
    transition: all 0.5s ease-in-out;
    width: 150px;
    height: 50px;
    font-family: comic sans ms;
    border-radius: 12px;
}

button:hover{
    border-color: whitesmoke;
    background-color: orange;
    box-shadow: 0px 3px 4px;

}